This will be there when you register your account
tast I --> Design a page(Login page) which will take all your information .... sucha age name sex country born currecnty living your mobile....
Tasl 2-->Home.html (Landing Page)--> You add your money from your account  to digi wallet... or you also store crypto currecny
Task --3 Activity Page --> where will you have info who send you what..... I trying to say that .... who so ever you send the money all will be there...
Who sent you money from who you recive money also...
all those thing would be here...
Task 4 --> Diffrent QR code for diffrent users
Task 5--> in starting you will be asked with secruity qwuestipn their will respective answers ...it will get stored...
But when some forget his or her password/// I would >>> make this login with mobile and make sure opt matches and later ask those security question and if answers matches with he has given starigt this loged in home page
Currency change  and  country option should be there which decides which currency you have it in wallet.
1. Canadian  CAD
2. I will surley move to USA... US dollars...