.MainDiv{
	background-color: lightgrey;
	font-size: 15px;
	margin-top: 2%;
	margin-left: 2%;
	border-right: 2px solid grey;
}
.nav-link{
	margin-left: 2%;
	margin-top: 1%;
	text-align: center;
	padding: 15%;
	color: grey;
	background-color: white;
	border-collapse: collapse;
}
h1{
	font-family: monospace;
}
#dropdownMenuButton{
	background-color: white;
	border-radius: 25px;
	margin-top: 5px;
	color: black;
}
